
.comments-title {
    font-size: var(--font-size-h1);
    text-align: center;
    font-weight: var(--font-weight-bolder);
    margin-top: 60px;
    margin-bottom: 60px;
}

.comment-list {
    list-style: none;
    padding: 0;
}

.fn {
    font-size: var(--font-size-h6);
}

.avatar {
    margin-right: 15px;
    border-radius: 50%;
}

.comment {
    margin-bottom: 80px;
}

.comment-author.vcard {
    margin-bottom: 5px;
}

/**
 * Comment link.
 */
.comment-reply-link {
    color: var(--color-link);
}

.comment-reply-link:hover {
    border-bottom: 1px solid var(--color-link);
}

.comment-link {
    color: var(--color-grayer);
    font-size: var(--font-size-caption);
}

.comment-metadata {
    line-height: 20px;
}

.comment-metadata .fn a {
    color: var(--color-black);
}

.comment-metadata a:hover {
    border-bottom: 1px solid var(--color-grayer);
}

.comment-metadata b,
.comment-metadata time {
    display: block;
}

.reply {
    text-align: right;
}

/**
 * Comment content.
 */
.comment-body {
    margin-bottom: 35px;
}

.depth-1 > .comment-body {
    box-shadow: var(--box-shadow);
    padding: 20px 20px 10px 20px;
}

.depth-2 .comment-body {
    margin-bottom: 25px;
}

.comment.parent .odd .comment-content {
    background-color: var(--color-lightgray);
    padding: 10px 30px;
}

.comment-content > * {
    font-size: var(--font-size-comment);
    line-height: 30px;
    margin-bottom: 0;
}

.comment-content blockquote {
    padding: 10px;
    margin-top: 5px;
}

/**
 * Comment posting.
 */
.comment-form p:not(.comment-form-cookies-consent) label {
    display: block;
    font-weight: var(--font-weight-bold);
}

.comment-form-cookies-consent label {
    cursor: pointer;
    font-size: var(--font-size-label);
}

input.submit {
    background-color: var(--color-tertiary);
    color: var(--color-quaternary);
    font-size: var(--font-size-button);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    --color-box-shadow: var(--color-quaternary);
    border-radius: 4px;
    text-transform: uppercase;
}

.comment-form {

}


input:focus, textarea:focus, select:focus {
    outline: none;
}
