.soyes-newsletter-columns figure.wp-block-image {
    margin-top: 0;
    margin-bottom: -70px;
}

@media only screen and (min-width: 992px) {
    .soyes-newsletter-columns {
        margin-top: 50px;
    }
    .soyes-newsletter-columns figure.wp-block-image {
        margin-bottom: -80px;
    }
}

#splash {
    background-color: var(--color-secondary);
    padding: 20px 0 40px 0;
}

h1 {
    text-align: center;
    font-family: var(--font-family-primary);
    font-style: italic;
    padding: 0;
    margin: 0;
}