.post-header {
    padding: 120px 0px;
    margin-bottom: 40px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: cover;
    color: var(--color-white);
}

.entry-title {
    width: 90%;
}

.entry-excerpt {
    width: 80%;
}

.entry-excerpt p {
    margin-bottom: 0px;
}

.entry-category span {
    font-size: var(--font-size-category);
    padding: 4px 10px;
    border-radius: 10px;
    color: var(--color-black);
    background-color: var(--color-gray);
}