/**
 * Search container.
 */
.entry-search {
    padding: 20px 0;
}

.search-term {
    background-color: var(--color-primary);
}

/**
 * Forms.
 */
.search-form {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-icon {
    margin-right: 10px;
}

.search-input-container {
    border-radius: var(--radius-default);
    border: none;
    box-shadow: var(--box-shadow-default);
    background-color: var(--color-white);
    color: var(--color-gray);
    padding: 12px 20px;
    margin-right: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.search-input {
    border: none;
    width: 90%;
    font-size: var(--font-size-m);
}

.search-input-container:hover, .search-input-container:focus {
    box-shadow: var(--box-shadow-default);
    border-color: var(--color-white);
}

.search-button {
    padding: 15px 20px;
    background-color: var(--color-black);
    border-radius: var(--radius-default);
    display: inline-block;
    margin: 0;
}

.search-button:hover {
    box-shadow: var(--box-shadow-strong);
    color: var(--color-white);
}

@media only screen and (max-width: 991px) {
    .search-button {
        display: none;
    }
}


