/**
 * Post header.
 */
.entry-header {
    text-align: center;
    margin: 50px 0;
}

.post-header {
    margin-bottom: 40px;
    z-index: 20;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-color: var(--color-box-shadow);
    background-size: cover;
    color: var(--color-white);
}

.post-header-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    height: 800px;
}

.entry-title {
    margin-bottom: 0;
    padding-top: 0;
}

.entry-excerpt p {
    color: var(--color-gray);
    font-size: var(--font-size-l);
    width: 80%;
    margin: 10px auto;
}

.entry-category {
    margin-bottom: 25px;
}

.entry-category > * {
    text-transform: capitalize;
    padding: 6px 14px;
    border-radius: 16px;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-bold);
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.entry-meta {
    font-size: var(--font-size-m);
    color: var(--color-gray);
}

.entry-date {
    margin-top: 5px;
    padding-bottom: 5px;
}

.entry-reading-time {
    margin: 10px 0;
}

.entry-reading-time p {
    color: var(--color-gray);
    margin: 0;
    display: inline-block;
    padding: 0 10px;
}

.entry-reading-time .estimated-read {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-m);
    padding-bottom: 0;
}

.entry-reading-time .estimated-warn {
    margin-top: 20px;
    font-size: var(--font-size-m);
    font-weight: bold;
}

.entry-reading-time .estimated-warn span {
    background-color: var(--color-italic);
    padding: 5px;
}


/**
 * Author.
 */
.author {
    text-align: center;
    font-size: var(--font-size-s);
    font-family: var(--font-family-secondary);
}

.author-container {
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 10px;
}

.author-image {
    margin: 10px 20px;
}

.author-image img {
    border-radius: 50%;
}

.author-name {
    font-weight: var(--font-weight-bold);
}

.author-description {
    margin-top: 6px;
}


/**
 * Comment.
 */
.link-comment img {
    margin-left: 5px;
}

.entry-content .link-comment a {
    color: var(--color-black);
    padding: 10px 15px;
    border: 2px solid var(--color-black);
    border-radius: var(--radius-default);
}