.author {
    text-align: center;
    margin-top: 150px;
    background-color: var(--color-tertiary);
    color: var(--color-black);
    padding: 50px 0;
}

.author-name {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-bold);
}

.author-description {
    margin-top: 20px;
    font-size: var(--font-size-h6);
}

.author-image {
    margin-bottom: 30px;
}