.card {
    margin: 50px 0;
    box-shadow: var(--box-shadow-default);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.card-content {
    color: var(--color-black);
    background-color: var(--color-white);
    padding: 0 20px 20px 20px;
}

.card-title {
    font-weight: var(--font-weight-bolder);
}

.card-title a {
    color: var(--color-black);
}

.card-title a:hover {
    color: var(--color-quaternary);
    border: none;
}

.card-excerpt {
    color: var(--color-grayer);
    font-size: var(--font-size-excerpt);
}

.card-category {
    position: absolute;
    left: 20px;
    top: 20px;
    box-shadow: var(--box-shadow-default);
    color: var(--color-black);
    background-color: var(--color-white);
    padding: 5px 10px;
    display: inline-block;
    font-size: var(--font-size-category);
    font-weight: var(--font-weight-bold);
    border-radius: 5px;
    text-transform: capitalize;
}

.card-metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-comments {
    font-weight: var(--font-weight-bold);
    padding: 5px 10px;
    border-radius: var(--radius-default);
    font-size: var(--font-size-category);
}

.card-comments img {
    margin-left: 5px;
}

.card-date {
    color: var(--color-grayer);
}


@media only screen and (min-width: 992px) {
    .card {
        flex-direction: row;
    }

    .card-content {
        padding: 40px 30px;
    }
}


@media only screen and (max-width: 991px) {
    .card-image img {
        max-width: 100%;
        height: auto;
    }
}
