.wp-block-column > .card {
    display: flex;
    flex-direction: column;
    position: relative;
}

.card {
    width: 100%;
    margin: 20px 0 40px 0;
    box-shadow: var(--box-shadow-default);
    background-color: var(--color-white);
}

.card.wp-block-columns > .wp-block-column:not(:first-child) {
    margin-left: 0;
}

.wp-block-column > .card .card-content {
    flex-basis: 66.66%;
    color: var(--color-black);
    font-size: var(--font-size-s);
    padding: 20px 30px;
}

.wp-block-column > .card .card-image.no-img {
    width: 450px;
}

.wp-block-column > .card .card-image {
    flex-basis: 33.33%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-title {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-l);
    font-weight: var(--font-weight-bolder);
    font-family: var(--font-family-primary);
    padding-top: 0;
    margin: 0;
}

.card-tag {
    display: inline-block;
    margin: 10px auto 15px auto;
    color: var(--color-primary);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bolder);
    border-bottom: 4px dashed var(--color-secondary);
    padding-bottom: 5px;
}

.card-title a {
    color: var(--color-black);
}

.card-title a:hover {
    color: var(--color-link);
}

.card-excerpt p {
    font-size: var(--font-size-l);
    margin: 15px 0;
}

.card-excerpt ul li {
    font-size: var(--font-size-l);
    margin: 0;
}

.card-metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 8px;
}

.card-date {
    color: var(--color-gray);
    font-size: var(--font-size-s);
    background-color: var(--color-lightgray);
    padding: 5px;
}

@media only screen and (max-width: 991px) {
    .card-image.no-img {
        height: 300px;
    }

    .card {
        margin: 20px auto 40px auto;
    }
}