.entry-header {
    background-color: var(--color-lightgray);
    padding: 40px 0;
}

#header {
    background-color: var(--color-lightgray);
}

.entry-content {
    margin-top: 3rem;
}

h1 {
    margin-top: 0;
}

.entry-categories {
    list-style: none;
    padding: 0px;
    overflow: auto;
    white-space: nowrap;
}

.entry-categories li {
    display: inline-block;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 30px 5px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-default);
}


@media only screen and (min-width: 992px) {
    .entry-categories {
        padding: 0;
    }

    .entry-categories li {
        padding: 15px 30px;
    }
}

.entry-categories li a {
    text-transform: capitalize;
    color: var(--color-quaternary);
    font-weight: var(--font-weight-bold);
}

.entry-categories li a:hover {
    border-bottom: 1px solid var(--color-quaternary);
}

p {
    line-height: 26px;
    font-size: var(--font-size-list);
    margin-bottom: 10px;
    letter-spacing: -0.063px;
}