.entry-header {
    background-color: var(--color-quaternary);
    color: var(--color-white);
    margin-bottom: 50px;
    padding: 40px 0 30px 0;
}

.entry-return-link {
    margin-bottom: 40px;
}

.entry-return-link a {
    border-bottom: 1px solid var(--color-white);
    color: var(--color-white);
}

.entry-return-link a:hover {
    border-bottom: 1px solid var(--color-tertiary);
    color: var(--color-tertiary);
}

h1 {
    margin-top: 0;
    text-transform: capitalize;
}

.entry-categories {
    list-style: none;
    padding: 0px;
    margin-top: 30px;
}

.entry-categories li {
    display: inline-block;
    border-radius: 30px;
    font-size: var(--font-size-button);
    padding: 10px 30px 0 0;
    margin: 0;
}

@media only screen and (min-width: 992px) {
    .entry-categories {
        padding: 0;
        white-space: normal;
    }
}

.entry-categories li a {
    text-transform: capitalize;
    color: var(--color-tertiary);
    font-weight: var(--font-weight-bold);
}

.entry-categories li a:hover {
    color: var(--color-white);
    border: none;
}

p {
    line-height: 26px;
    font-size: var(--font-size-comment);
    margin-bottom: 10px;
    letter-spacing: -0.063px;
}

.entry-text p {
    font-size: var(--font-size-text);
    line-height: 20px;
}
