/**
 * Header.
 */
#header {
    background-color: var(--color-white);
}

#header nav {
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}

#header nav ul {
    margin: 0;
    padding: 20px 0;
}

#header nav li {
    display: inline;
    margin-left: 16px;
}

#header nav a {
    color: var(--color-black);
    font-size: var(--font-size-s);
    padding-bottom: 2px;
}

#header nav li a:hover {
    opacity: 0.7;
}

#header nav li:last-of-type a {
    color: var(--color-white);
    background-color: var(--color-primary);
    font-weight: var(--font-weight-bold);
    border-radius: var(--radius-strong);
    padding: 5px 10px;

}

#header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 781px) {
    #header nav li:last-of-type {
        margin-right: 20px;
    }
}

@media only screen and (min-width: 786px) {
    #header {
        padding: 5px 0;
        max-height: 75px;
    }

    #header nav {
        text-align: right;
        padding-bottom: 5px;
    }
}

a.custom-logo-link:hover {
    border: none;
}