.entry-header {
    color: var(--color-black);
    margin-bottom: 20px;
}

h1 {
    margin-top: 0;
    text-transform: capitalize;
}

p {
    line-height: 26px;
    font-size: var(--font-size-m);
    margin-bottom: 10px;
    letter-spacing: -0.063px;
}

.entry-text p {
    font-size: var(--font-size-l);
    line-height: 20px;
}
