/**
 * Extracted from wordpress/wp-includes/css/dist/block-library/style.css
 */

/**
 * Columns
 */
.is-vertically-aligned-bottom {
    align-self: flex-end;
}

@media only screen and (max-width: 991px) {
    .is-column-reversed-on-mobile {
        flex-direction: column-reverse;
    }
}

.wp-block-columns {
    display: flex;
    margin-bottom: 28px;
    flex-wrap: wrap;
}

@media (min-width: 782px) {
    .wp-block-columns {
        flex-wrap: nowrap;
    }
}

.wp-block-columns.has-background {
    padding: 20px 38px;
}

.wp-block-column {
    flex-grow: 1;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
}

@media (max-width: 599px) {
    .wp-block-column {
        flex-basis: 100% !important;
    }
}

@media (min-width: 600px) and (max-width: 781px) {
    .wp-block-column {
        flex-basis: calc(50% - 16px) !important;
        flex-grow: 0;
    }

    .wp-block-column:nth-child(even) {
        margin-left: 32px;
    }
}

@media (min-width: 782px) {
    .wp-block-column {
        flex-basis: 0;
        flex-grow: 1;
    }

    .wp-block-column[style*="flex-basis"] {
        flex-grow: 0;
    }

    .wp-block-column:not(:first-child) {
        margin-left: 32px;
    }
}

/**
 * Alignment
 */
.wp-block-columns.are-vertically-aligned-center {
    align-items: center;
}

/**
 * Images
 */
.wp-block-image img {
    max-width: 100%;
}

.wp-block-image.aligncenter {
    text-align: center;
}

.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
    width: 100%;
}

.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image .aligncenter, .wp-block-image.is-resized {
    display: table;
}

.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image .aligncenter > figcaption, .wp-block-image.is-resized > figcaption {
    display: table-caption;
    caption-side: bottom;
}

.wp-block-image .alignleft {
    /*rtl:ignore*/
    float: left;
    /*rtl:ignore*/
    margin-left: 0;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.wp-block-image .alignright {
    /*rtl:ignore*/
    float: right;
    /*rtl:ignore*/
    margin-right: 0;
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.wp-block-image .aligncenter {
    margin-left: auto;
    margin-right: auto;
}


/**
 * Table.
 */
.wp-block-table {
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: auto;
}

.wp-block-table table {
    word-break: keep-all;
    text-align: left;
    border-collapse: collapse;
}

.wp-block-table.is-style-stripes {
    border: 1px solid var(--color-black);
}

.wp-block-table {
    box-shadow: var(--box-shadow-default);
}

.wp-block-table.is-style-stripes th {
    text-align: center;
}

.wp-block-table th {
    padding: 20px 10px;
}

.wp-block-table:not(.is-style-stripes) th {
    background-color: var(--color-lightgray);
}

.wp-block-table:not(.is-style-stripes) td {
    border-bottom: 1px solid var(--color-gray);
}

.wp-block-table:not(.is-style-stripes) th,
.wp-block-table:not(.is-style-stripes) td {
    border-right: 1px solid var(--color-gray);
}

.wp-block-table td {
    padding: 15px 10px;
    font-size: var(--font-size-table);
}

.wp-block-table figcaption {
    text-align: center;
    padding: 10px 0;
    font-size: var(--font-size-caption);
}

.wp-block-table.is-style-stripes figcaption {
    color: var(--color-white);
    background-color: var(--color-black);
}

.wp-block-table:not(.is-style-stripes) figcaption {
    background-color: var(--color-lightgray);
}

.wp-block-table.is-style-stripes tbody tr:nth-child(2n+1) {
    background-color: var(--color-lightgray);
}

.wp-block-table table {
    width: 100%;
}

.wp-block-table .has-fixed-layout {
    table-layout: fixed;
    width: 100%;
}

.wp-block-table .has-fixed-layout td,
.wp-block-table .has-fixed-layout th {
    word-break: break-word;
}

.wp-block-table.alignleft, .wp-block-table.aligncenter, .wp-block-table.alignright {
    display: table;
    width: auto;
}

.wp-block-table.alignleft td,
.wp-block-table.alignleft th, .wp-block-table.aligncenter td,
.wp-block-table.aligncenter th, .wp-block-table.alignright td,
.wp-block-table.alignright th {
    word-break: break-word;
}

.wp-block-table.is-style-stripes {
    border-spacing: 0;
    border-collapse: inherit;
    background-color: transparent;
    border-bottom: 1px solid #f0f0f0;
}

.wp-block-table.is-style-stripes th,
.wp-block-table.is-style-stripes td {
    border-color: transparent;
}

/**
 * Separator.
 */
.wp-block-separator {
    margin: 40px 0 50px 0;
}

.wp-block-separator.is-style-wide {
    border-bottom-width: 1px;
}

.wp-block-separator.is-style-dots {
    background: none !important;
    border: none;
    text-align: center;
    max-width: none;
    line-height: 1;
    height: auto;
}

.wp-block-separator.is-style-dots::before {
    content: "\00b7 \00b7 \00b7";
    color: currentColor;
    font-size: 20px;
    letter-spacing: 2em;
    /*rtl:ignore*/
    padding-left: 2em;
    font-family: serif;
}

/**
 * Layout.
 */
.is-content-justification-center {
    text-align: center;
}