.soyes-newsletter-container {
    margin-top: 20px;
}

.soyes-newsletter-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    font-size: var(--font-size-h1);
}

.soyes-newsletter-title span {
    color: var(--color-secondary);
}

.soyes-newsletter-container-footer .soyes-newsletter-title span {
    color: var(--color-tertiary);
}

.soyes-newsletter-desc {
    color: var(--color-grayer);
}

.soyes-newsletter-form {
    margin-top: 40px;
}

.soyes-newsletter-container-footer .soyes-newsletter-desc {
    color: var(--color-white);
}

@media only screen and (min-width: 992px) {
    .soyes-newsletter-form {
        width: 90%;
    }

    .soyes-newsletter-container-footer .soyes-newsletter-form {
        width: 100%;
    }

    .soyes-newsletter-container-footer .soyes-newsletter-content {
        width: 60%;
        margin: auto;
    }
}

.soyes-newsletter-form > * {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}

.soyes-newsletter-email {
    border: 1px solid var(--color-gray);
    color: var(--color-black);
}

.soyes-newsletter-email:focus {
    border-color: var(--color-secondary);
}

.soyes-newsletter-submit {
    padding: 15px;
}

.soyes-newsletter-warn {
    padding: 15px 15px 0 0;
}
