.soyes-newsletter-container {
    text-align: center;
    background-color: var(--color-primary);
    padding: 30px;
}

@media only screen and (max-width: 991px) {
    .soyes-newsletter-container {
        width: 100% !important;
        max-width: 100% !important;
    }
}

.soyes-newsletter-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 0;
    line-height: 1.6;
    font-weight: var(--font-weight-bolder);
    font-size: var(--font-size-h1);
    font-family: var(--font-family-secondary);
}

.soyes-newsletter-desc {
    font-family: var(--font-family-secondary);
}

.soyes-newsletter-title span {
    display: inline-block;
    color: var(--color-primary);
    background-color: var(--color-black);
    padding: 2px 12px;
    margin: 5px 5px 0 0;
}

.soyes-newsletter-fill p span {
    background-color: var(--color-white);
    font-style: italic;
    padding: 2px 6px;
}

.soyes-newsletter-fill p {
    margin: 0;
}

.soyes-newsletter-fill > small:first-of-type {
    padding: 15px 0;
    display: block;
}

.soyes-newsletter-fill > small span {
    font-weight: bold;
}


.soyes-newsletter-form {
    margin: 10px 0 10px 0;
}

@media only screen and (min-width: 992px) {
    .soyes-newsletter-fill {
        padding: 0 100px;
    }
}

@media only screen and (min-width: 782px) {
    .soyes-newsletter-submit.wp-block-column.wp-block-button__link {
        margin: 0 32px 0 0;
    }
}


@media only screen and (min-width: 992px) {
    body:not(.home) .soyes-newsletter-fill {
        padding: 0 50px;
    }
}

body:not(.home) .soyes-newsletter-submit.wp-block-column.wp-block-button__link,
body:not(.home) .soyes-newsletter-form > * {
    margin: 0;
}

body:not(.home) .soyes-newsletter-form {
    flex-direction: column;
}

.soyes-newsletter-form > * {
    padding: 15px;
}

.soyes-newsletter-email {
    border: none;
    box-shadow: var(--box-shadow-default);
    width: 100%;
}

.soyes-newsletter-email:focus {
    border-color: var(--color-secondary);
}

.soyes-newsletter-warn {
    color: var(--color-gray);
    text-align: center;
}

.soyes-newsletter-fill p {
    font-size: var(--font-size-h5);
}

/**
Cover blocks.

@wordpress/wp-includes/blocks/cover/style-rtl.css
 */
.wp-block-cover-image,
.wp-block-cover {
    position: relative;
    background-size: cover;
    background-position: center center;
    min-height: 430px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    /**
     * Set a default background color for has-background-dim _unless_ it includes another
     * background-color class (e.g. has-green-background-color). The presence of another
     * background-color class implies that another style will provide the background color
     * for the overlay.
     *
     * See:
     *   - Issue with background color specificity: https://github.com/WordPress/gutenberg/issues/26545
     *   - Issue with alternative fix: https://github.com/WordPress/gutenberg/issues/26545
     */
}

.wp-block-cover-image.has-background-dim:not([class*=-background-color]),
.wp-block-cover-image .has-background-dim:not([class*=-background-color]),
.wp-block-cover.has-background-dim:not([class*=-background-color]),
.wp-block-cover .has-background-dim:not([class*=-background-color]) {
    background-color: var(--color-primary);
}

.wp-block-cover-image.has-background-dim:not(.has-background-gradient)::before,
.wp-block-cover-image .wp-block-cover__background,
.wp-block-cover-image .wp-block-cover__gradient-background,
.wp-block-cover.has-background-dim:not(.has-background-gradient)::before,
.wp-block-cover .wp-block-cover__background,
.wp-block-cover .wp-block-cover__gradient-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0.8;
    width: inherit;
    max-width: inherit;
}

.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
    width: 100%;
    z-index: 1;
    max-width: 100%;
}


.wp-block-cover-image img.wp-block-cover__image-background,
.wp-block-cover-image video.wp-block-cover__video-background,
.wp-block-cover img.wp-block-cover__image-background,
.wp-block-cover video.wp-block-cover__video-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    -o-object-fit: cover;
    object-fit: cover;
    outline: none;
    border: none;
    box-shadow: none;
}
