.soyes-newsletter-container {
    margin-top: 200px;
}

.soyes-newsletter-title {
    margin-top: 0;
    padding-top: 20px;
    font-size: var(--font-size-h1);
}

.soyes-newsletter-title span {
    font-size: var(--font-size-h3);
    display: block;
    position: relative;
}

.soyes-newsletter-title span::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 50%;
    border-bottom: 10px solid var(--color-tertiary);
    left: 0;
    bottom: 3px;
    z-index: -1;
}

.soyes-newsletter-form > * {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.soyes-newsletter-email {
    border: 1px solid var(--color-gray);
    color: var(--color-black);
}

.soyes-newsletter-email:focus {
    border-color: var(--color-secondary);
}

.soyes-newsletter-submit {
    padding: 20px;
}
