/**
  * Table of contents.
 */

/** Summary **/
.entry-content .toc {
    background-color: var(--color-lightgray);
    margin: 50px 0;
    border-bottom: 10px solid var(--color-tertiary);
}

.entry-content .toc ol {
    padding-left: 0px;
    counter-reset: item;
}

.entry-content .toc ol li {
    margin: 5px 0;
    display: block;
}

.entry-content .toc ol li a {
    border-bottom: none;
    color: var(--color-black);
}

.entry-content .toc ol li a:hover {
    border-bottom: 1px solid var(--color-link);
    color: var(--color-link);
}

.entry-content .toc ol li::before {
    content: counters(item, ".") " ";
    counter-increment: item;
    color: var(--color-black);
    margin-right: .5rem;
    font-size: var(--font-size-list-number);
}

.entry-content .toc_full .toc_2 > a {
    font-weight: var(--font-weight-bold);
}

.entry-content .toc_full .toc_3 {
    font-size: var(--font-size-list-child);
}

@media only screen and (min-width: 992px) {
    .entry-content .toc ol {
        padding-left: 15px;
    }

    .entry-content .toc {
        padding: 50px 0;
    }
}
