/**
  * Table of contents.
 */

/** Summary **/
.entry-content .toc {
    background-color: var(--color-lightgray);
    margin: 50px 0;
    font-family: var(--font-family-secondary);
}

.entry-content .toc ol {
    padding-left: 0;
    counter-reset: item;
}

.entry-content .toc ol li {
    margin: 5px 0;
    display: block;
    font-size: var(--font-size-m);
}

.entry-content .toc ol li a {
    border-bottom: none;
    color: var(--color-black);
}

.entry-content .toc ol li a:hover {
    border-bottom: 1px solid var(--color-link);
    color: var(--color-link);
}

.entry-content .toc li::before {
    content: counters(item, ".") " ";
    counter-increment: item;
    color: var(--color-black);
    margin-right: var(--font-size-xs);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
}

@media only screen and (min-width: 992px) {
    .entry-content .toc {
        padding: 50px 0;
    }
}

/** ToC on two levels (h2 + h3) **/

.entry-content .toc_full .toc_2 > a {
    font-weight: var(--font-weight-bold);
}

.entry-content .toc_full .toc_3 {
    font-size: var(--font-size-s);
}

.entry-content .toc_sublist {
    margin: 10px 20px;
}

/** Titles **/
.entry-content h3 > a:first-of-type {
    left: -40px;
}