/**
 * Card for single posts
 */

.entry-post .card {
    display: block;
    text-align: center;
}

.entry-post .card-image img {
    max-width: 100%;
}

/**
 * Call to action
 */
.call-to-action {
    margin: 60px auto 30px auto;
    border-radius: var(--radius-default);
    max-width: 450px;
}

.call-to-action .box {
    padding: 20px;
    box-shadow: var(--box-shadow-default);
    background-color: var(--color-lightgray);
}


.entry-content .card-content {
    padding: 20px;
    font-size: var(--font-size-m);
}