/**
 * Card for single posts
 */

.entry-post .card {
    display: block;
    text-align: center;
    opacity: 0.7;
    transition: 1s all;
}

.entry-post .card:hover {
    opacity: 1;
}

.entry-post .card-image img {
    max-width: 100%;
}

/**
 * Call to action
 */
.call-to-action {
    margin: 60px auto 30px auto;
    border-radius: var(--radius-default);
    max-width: 450px;
}

.entry-content .card-content {
    padding: 20px;
    font-size: var(--font-size-m);
}