.exit-intent-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background: rgba(33, 33, 33, 0.8);
    transform: translateY(60%) scale(0);
    transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    display: block !important;
}

.exit-intent-popup.visible {
    transform: translateY(0) scale(1);
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    box-shadow: 0 4px 10px #21212180;
    background: var(--color-white);
    max-width: 600px;
    border: 3px solid var(--color-link);
}

.popup .wp-block-columns {
    margin-bottom: -4px;
}

.popup-header {
    margin-top: 10px;
}

.popup-header > * {
    display: inline-block;
}

.popup-content {
    padding: 32px 32px 32px 0;
}

.popup-more-content {
    font-size: 15px;
}

.popup-title {
    margin: 0px 0px 0px 10px;
    padding-bottom: 0;
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bolder);
    line-height: 1.5;
}

.popup-description {
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h5);
    padding: 10px 0;
    margin: 0;
}

.popup-end {
    text-align: center;
    color: var(--color-gray);
}

.popup form > * {
    width: 100%;
    display: block;
}

.close {
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--color-link);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    font-weight: var(--font-weight-bolder);
    height: 36px;
    width: 36px;
    line-height: 9px;
    text-align: center;
    padding: 10px;
}