
/**
 * Share bottom
 */
.entry-social {
    padding: 20px;
    color: var(--color-white);
    background-color: var(--color-primary);
    text-align: center;
    z-index: 20;
    position: relative;
    border-bottom: 10px solid var(--color-secondary);
}

.social-title {
    margin-bottom: 40px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h2);
    color: var(--color-primary);
}

.social-more {
    font-size: var(--font-size-s);
    margin-top: 15px;
}

.social-description {
    font-size: var(--font-size-h5);
}

.social-buttons {
    margin-top: 15px;
}

.social-buttons > button:hover {
    background-color: var(--color-secondary);
}

.social-buttons > button {
    background-color: transparent;
    color: var(--color-white);
    padding: 5px 20px;
    font-size: var(--font-size-m);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border: 1px solid var(--color-white);
    border-radius: var(--radius-default);
}

.social-buttons > button svg {
    margin-right: 10px;
    width: 18px;
}

@media only screen and (min-width: 992px) {
    .entry-social {
        padding: 100px 50px;
    }

    .social-buttons > button {
        width: auto;
        display: inline-flex;
        margin: 10px;
    }
}