h3:focus {
    outline: none;
}

.toc-bot-container {
    overflow-y: auto;
    transition: all 300ms ease-in-out;
    font-family: var(--font-family-secondary);
    transform: translateX(100%);
    position: fixed;
    z-index: 20;
    right: 0;
    top: 0;
    background-color: var(--color-lightgray);
}

.toc-bot > .toc-list {
    overflow: hidden;
    position: relative;
    padding: 0 5px 0 15px;
}

.toc-bot > .toc-list li {
    font-size: var(--font-size-m);
    list-style: none;
    color: var(--color-black);
    line-height: var(--font-size-h2);
}

.toc-bot > .toc-list li .is-collapsible li {
    font-size: var(--font-size-s);
    color: var(--color-gray);
    list-style: decimal;
    margin-left: 10px;
}

.toc-list {
    margin: 0;
    padding-left: 10px
}

a.toc-link {
    color: var(--color-black);
    height: 100%
}

.is-collapsible {
    max-height: 1000px;
    overflow: hidden;
    transition: all 300ms ease-in-out
}

.is-collapsed {
    max-height: 0
}

.is-active-link {
    font-weight: var(--font-weight-bolder)
}

.toc-link::before {
    background-color: var(--color-lightgray);
    content: ' ';
    display: inline-block;
    height: inherit;
    left: 0;
    margin-top: -1px;
    position: absolute;
    width: 3px
}

.is-active-link::before {
    background-color: var(--color-secondary)
}

.toc-icon {
    position: fixed;
    bottom: 140px;
    right: 25px;
    height: 40px;
    font-size: var(--font-size-h0);
    color: var(--color-secondary);
    cursor: pointer;
}

.toc-input {
    display: none
}

.toc-bot-container.sticky {
    box-shadow: var(--box-shadow-strong);
    transform: translateX(0)
}

.toc-bot-button-container {
    z-index: 30;
    position: relative;
}

#column-toc {
    margin-bottom: 20px;
}

@media only screen and (max-width: 781px) {

    .category .entry-content > .wp-block-columns {
        flex-wrap: wrap;
    }

    .category .entry-content > .wp-block-columns > .wp-block-column {
        flex-basis: 100% !important;
        flex-grow: 1;
    }

    .toc-bot-container {
        height: 100%;
        width: 70%;
        background-color: var(--color-lightgray);
    }

    .toc-bot > .toc-list {
        padding: 20px;
    }
}

.column-toc-cta {
    margin-top: 5px;
}

@media only screen and (min-width: 782px) {

    .banner-cta {
        margin-bottom: 20px;
    }

    .toc-bot-container {
        transform: translateX(0);
        right: calc((100% - 48rem - 4rem) / 2);
        position: sticky;
        top: 75px;
        max-height: calc(100vh - 75px);
    }

    .toc-icon {
        display: none
    }

    .try-it-container {
        display: block
    }

    .content {
        margin-left: 280px
    }

    .toc-bot ~ .content {
        margin-left: 0;
        margin-right: 280px
    }
}

/**
 * Above the toc
 */

.banner-cta .new-content {
    display: block;
}

.banner-cta .new-content strong {
    font-size: var(--font-size-h5);
}

.banner-cta .new-content strong,
.banner-cta .new-cta {
    display: block;
    padding: 10px 0;
    margin: 0;
}


/** Nav icon **/

#toc-nav-menu {
    display: block;
    width: 30px;
    height: auto;
    position: relative;
    margin: 10px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#toc-nav-menu span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: var(--color-secondary);
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#toc-nav-menu span:nth-child(1) {
    top: 0;
}

#toc-nav-menu span:nth-child(2) {
    top: 9px;
}

#toc-nav-menu span:nth-child(3) {
    top: 18px;
}

#toc-nav-menu.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#toc-nav-menu.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#toc-nav-menu.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
